extends layout

block content
    div(id='main')
      div(class='inner')
        header(id='header')
          h1= title
          
        section(id='banner')
          div(class='content')
            header              
                ul
                  li Nom : 
                    = eventlist[0].nom
                  li Type : 
                    = eventlist[0].type
                  li Date : 
                    = eventlist[0].date
                  li Nombre jours : 
                    = eventlist[0].nombreJours
                 
                table
                  tr
                    td Rôles demandés
                    td Nombres demandés
                    each offre, i in offrelist
                      tr
                        td
                          = offre._role.nom
                        td
                          = offre.nbRoles
                    
                form#formAddEventRole(name="addEventRole",method="post",action="/events/"+ eventlist[0]._id +"/role/add")
                  input#inputRoleNbFigurant(type="text", placeholder="Nombre", name="nbFigurant")
                  select#inputRoleName(placeholder="Name", name="roleId")
                    option -- Rôle --
                    each role, i in roleslist
                      option(value=role._id)= role.nom
                  button#btnSubmit(type="submit") Ajouter rôle 
                  
                  
                p/a(href="/events/delete/"+eventlist[0]._id) Supprimer l'évènement