extends layout

block content
    div(id='main')
      div(class='inner')
        header(id='header')
          h1= title
          
        section(id='banner')
          div(class='content')
            header              
                ul
                  li Nom : 
                    = eventlist.nom
                  li Type : 
                    = eventlist.type
                  li Date : 
                    = eventlist.date
                  li Nombre jours : 
                    = eventlist.nombreJours
                 
                table
                  tr
                    td Rôles demandés
                    td Nombres demandés
                    td 
                    each offre, i in offrelist
                      tr
                        td
                          = offre._role.nom
                        td
                          = offre.nbRoles
                        td/button(onclick="deleteOffre('"+eventlist._id+"', '"+offre._id+"')") Supprimer
                    
                form#formAddEventRole(name="addEventRole",method="post",action="/events/"+ eventlist._id +"/role/add")
                  input#inputRoleNbFigurant(type="text", placeholder="Nombre", name="nbFigurant")
                  select#inputRoleName(placeholder="Name", name="roleId")
                    option -- Rôle --
                    each role, i in roleslist
                      option(value=role._id)= role.nom
                  button#btnSubmit(type="submit") Ajouter rôle 
                  
                table
                  tr
                    td Rôles 
                    td Nom Figurant
                    td Etat
                    td Modifier état
                    each postulation, i in postulationlist
                      tr
                        td
                          = postulation._offre._role.nom       
                        td
                          = postulation._figurant.email
                        td
                          = postulation.etat
                        td 
                          form(id="updateEtat", name="updateEtat", method="post", action="/events/"+ eventlist._id+"/update/"+postulation._id)
                            input(id='idEvent', value= eventlist._id, type='hidden')
                            input(id='idPostulation', value= postulation._id, type='hidden')
                            select(id="etat", name="etat")
                              option -- Changer Etat--
                                if(postulation.etat == "En attente")
                                  option(value="Retenu") Retenue
                                  option(value="Refuser") Refuser 
                                if(postulation.etat == "Retenu")
                                  option(value="Accepter") Accepter
                                  option(value="Refuser") Refuser
                                if(postulation.etat == "Accepter" || postulation.etat == "Refuser")
                                  option(value="Terminer") Terminer
                            button#btnSubmit(type="submit") Modifier
                
                
                button(onclick="deleteEvent('"+eventlist._id+"')") Supprimer
                