extends layout

block content
    div(id='main')
      div(class='inner')
        header(id='header')
          h1= title

        section(id='banner')
          div(class='content')
            header
              h2= 'Formulaire'
            form#formAddUser(name="adduser",method="post",action="/insert/add")
              input#inputEventName(type="text", placeholder="Name", name="name")     
              select#inputEventType(placeholder="Type", name="type")
                option -- Type --
                option Film
                option Spéctacle
              input#inputEventDate(type="text", placeholder="Date", name="date")
              input#inputEventNbJours(type="text", placeholder="Nombre jours", name="nbJours")
              
              button#btnSubmit(type="submit") submit