extends layout

block content
    div(id='main')
      div(class='inner')
        header(id='header')
          h1= title
          
        section(id='banner')
          div(class='content')
            header
              p= 'Listes des événements'
              table
                tr
                  td Nom évènement
                  td Date évènement
                  td Rôle
                  td Figurant
                  td Etat
                  td 
                  
                each postu, i in postulationlist
                  tr
                    td
                      = postu._offre._event.nom 
                    td
                      = postu._offre._event.date                    
                    td
                      = postu._offre._role.nom
                    td
                      = postu._figurant.email
                    td
                      = postu.etat
                    td 
                      form#formUpdateEtat(name="updateEtat",method="post",action="/postulations/update/"+postu._id)
                        select#selectEtat(name="etat")
                          option -- Changer Etat--
                            if(postu.etat == "En attente")
                              option(value="Retenu") Retenue
                              option(value="Refuser") Refuser 
                            if(postu.etat == "Retenu")
                              option(value="Accepter") Accepter
                              option(value="Refuser") Refuser
                            if(postu.etat == "Accepter" || postu.etat == "Refuser")
                              option(value="Terminer") Terminer
                        button#btnSubmit(type="submit") Modifier