extends layout

block content
    div(id='main')
      div(class='inner')
        header(id='header')
          h1= title
          
        section(id='banner')
          div(class='content')
            header
              p= 'Listes des rôles'
              
              form(id="addRole", name="addRole",method="post",action="/roles/add")
                input(id="name", type="text", placeholder="Nom", name="name")
              
                button#btnSubmit(type="submit") Ajouter rôle
              
              table
                tr
                  td Nom
                  
                each role, i in rolesliste
                  tr
                    td
                      = role.nom